/* div {
    height: 300px;
    width: 400px;
    background-color: bisque;
}

section {
    height: 250px;
    width: 350px;
    background-color: aquamarine;
}

header {
    height: 200px;
    width: 300px;
    background-color: blueviolet;
}
footer {
    height: 150px;
    width: 250px;
    background-color: rgb(174, 233, 118);
} */