/* div {
    height: 300px;
    width: 400px;
    background-color: bisque;
}

section {
    height: 250px;
    width: 350px;
    background-color: aquamarine;
}

header {
    height: 200px;
    width: 300px;
    background-color: blueviolet;
}
footer {
    height: 150px;
    width: 250px;
    background-color: rgb(174, 233, 118);
} */

.one {
    height: 300px;
    width: 300px;
    padding: 20px;
    border: 10px solid black;
    margin: 50px;
    background-color: rgb(50, 131, 136);
}

.two {
    border: 5px solid rgb(181, 74, 35);
}